# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
.DS_Store

npm-debug.log*

# packed files
/release
1.0.5.zip
1.0.6.zip
1.0.7.zip
public/manifest.json
