div.dcconDiv {
	border-radius: 12px;
	height: 390px;
    z-index: 10;
	background: #1d1f22;
	display: flex;
    flex-direction: column;
    bottom: calc(100% - 3px);
    left: 18px;
    position: absolute;
    right: 18px;
    z-index: 10;
}
div.dcconDiv.cm {
	background: #28262f;
}
div.dcconDiv div.dcconHeader {
	display: flex;
	flex-direction: row;
    padding: 15px 15px 2px;
	align-items: flex-start;
}
div.dcconDiv div.dcconHeader strong {
	font-size: 14px;
	color: #c9cedc;
	cursor: move;
    display: block;
    font-family: Sandoll Nemony2, Apple SD Gothic NEO, Helvetica Neue, Helvetica, 나눔고딕, NanumGothic, Malgun Gothic, 맑은 고딕, 굴림, gulim, 새굴림, noto sans, 돋움, Dotum, sans-serif;
}
div.dcconDiv div.dcconHeader span {
	color: #c9cedc;
	cursor: pointer;
	margin-left: auto;
}
div.dcconDiv div.searchDiv {
	display: flex;
	width: 100%;
	gap: 12px;
	margin-top: 6px;
	padding: 0 12px 4px;
	box-sizing: border-box;
}
div.dcconDiv div.searchDiv > div {
	display: flex;
	background: #373a3f;
	border-radius: 8px;
	padding: 5px 12px;
	color: #dfe2ea;
}

div.dcconDiv div.searchDiv > div input {
	background: none;
	border: none;
	font-size: 13px;
    font-weight: 400;
    height: 20px;
	color: #dfe2ea;
	width: 100%;
}
div.dcconDiv div.searchDiv > div input:read-only {
	color: #a9a9a9;
}

div.dcconDiv div.searchDiv > div button {
	padding-left: 4px;
}
ul.dcconList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	gap: 8px;
	overflow-y: auto;
	overflow-x: hidden;
    scrollbar-width: none;
	padding: 8px 12px 12px;
}
ul.dcconList.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
/*
@container dccon-window (min-width: 300px) {
  ul.dcconList:not(.grid) {
	grid-template-columns: repeat(3, 1fr);
  }
}
@container dccon-window (min-width: 400px) {
  ul.dcconList:not(.grid) {
	grid-template-columns: repeat(4, 1fr);
  }
}
@container dccon-window (min-width: 500px) {
  ul.dcconList:not(.grid) {
	grid-template-columns: repeat(5, 1fr);
  }
}
@container dccon-window (min-width: 600px) {
  ul.dcconList:not(.grid) {
	grid-template-columns: repeat(6, 1fr);
  }
}
@container dccon-window (min-width: 700px) {
  ul.dcconList:not(.grid) {
	grid-template-columns: repeat(7, 1fr);
  }
}*/
ul.dcconList.showScroll {
	scrollbar-width: auto;
}
ul.dcconList li {
	list-style: none;
	border: solid 1px rgba(0, 0, 0, 0);
	width: auto;
	margin: 3px;
}
ul.dcconList.grid li {
	
}
ul.dcconList li:hover, ul.dcconList li:focus, ul.dcconList li.autocomplete {
	border: solid 1px white;
	box-shadow: 0px 0px 12px 1px #fff, inset 0px 0px 12px 1px #fff;
}
ul.dcconList li a {
	display: block;
	cursor: pointer;
}
ul.dcconList li a:hover {
	cursor: pointer;
}
ul.dcconList li div.keyword, ul.dcconList li div.tag {
	display: none;
}

@keyframes rotate {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
ul.dcconList img {
	display: block;
	width: 100%;
}
ul.dcconList img.doubleConPlus {
	display: inline;
	width: 50%;
}
img.dccon {
	cursor: pointer;
	margin: 0px!important;
}

ul.dcconList img[alt^="볼트공중"], img.dccon[alt^="볼트공중"] {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 0.8s linear 0s infinite normal none running rotate;
}
ul.dcconList img[alt^="볼트공중"] {
	width: 90%;
}

ul.dcconList img[alt^="리썰패배"], img.dccon[alt^="리썰패배"] {
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 1.5s linear 0s infinite normal none running rotate;
}
ul.dcconList img[alt^="리썰패배"] {
	width: 90%;
}
img.dccon.newline {
	display: block;
}

button.marquee {
	width: 100%;
}
marquee[direction=up]
,marquee[direction=down] {
	height: 100px;
}
button#dcconBtn {
	z-index: 9;
}

button#dcconBtn.on svg path {
	stroke: rgba(0,255,163,0.7)!important;
}
button#dcconBtn.cm.on svg path {
	stroke: rgb(165,135,254)!important;
}
button#dcconBtn.cm {
	width: 28px;
	height: 28px;
	margin-left: -6px;
}
div.copyToast {
	color: white;
	text-align: center;
    position: absolute;
    left: 36px;
    right: 36px;
    top: calc(100% - 137px);
    z-index: 11;
    background: #454545;
    border-radius: 6px;
    padding: 7px;
    font-weight: bold;
    transition: opacity 0.3s ease-out;
}
.dccon-fade-out {
    opacity: 0;
}
.tooltip[role=tooltip] {
	display: block!important;
}
.tooltip-inner{white-space: pre-wrap;}

ul.mqAutocomplete {
	position: absolute;
    background: rgb(55, 58, 63);
    color: rgb(223, 226, 234);
    padding: 4px;
    font-size: 15px;
    z-index: 1000;
	border-radius: 4px;
}

ul.mqAutocomplete li {
	padding: 4px;
	border-radius: 4px;
}

ul.mqAutocomplete li:focus {
	background: rgb(100, 104, 114);
}
div.dccon-marquee {
	vertical-align: top;
}
div.dccon-marquee marquee{
	vertical-align: top;
}

@media(width <= 1366px) {
	div.dcconDiv.cm {
		position: static;
	}
}
.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}